Repository pierregrothe/graphrag-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-local, ruff-local, mypy-local, validate-openapi

Path conditions:
  black-local: any of: \.py$, but not: (?x)^(
  \.venv/|
  \.git/|
  __pycache__/|
  \.pytest_cache/|
  node_modules/|
  \.mypy_cache/|
  docs-platform/|
  workspaces/|
  indexing_jobs/|
  data/
)$

  ruff-local: any of: \.py$, but not: (?x)^(
  \.venv/|
  \.git/|
  __pycache__/|
  \.pytest_cache/|
  node_modules/|
  \.mypy_cache/|
  docs-platform/|
  workspaces/|
  indexing_jobs/|
  data/
)$

  mypy-local: any of: \.py$, but not: (?x)^(
  \.venv/|
  \.git/|
  __pycache__/|
  \.pytest_cache/|
  node_modules/|
  \.mypy_cache/|
  docs-platform/|
  workspaces/|
  indexing_jobs/|
  data/
)$

  validate-openapi: any of: ^(src/.*\.py|pyproject\.toml)$, but not: (?x)^(
  \.venv/|
  \.git/|
  __pycache__/|
  \.pytest_cache/|
  node_modules/|
  \.mypy_cache/|
  docs-platform/|
  workspaces/|
  indexing_jobs/|
  data/
)$


chore: update configuration files and documentation
  .claude/settings.local.json
  .flake8
  docs-platform/.github/actions/deploy-docs/action.yml
  docs-platform/.github/workflows/deploy-docs.yml
  docs-platform/docusaurus.config.js
  docs-platform/nginx.conf
  docs-platform/scripts/generate-api-docs.js
  docs-platform/src/components/ApiExplorer/index.tsx
  docs-platform/src/components/GraphQLPlayground/index.tsx
  docs-platform/src/pages/index.module.css
  docs/AUTHENTICATION_QUICKSTART.md
  docs/api/openapi.yaml
  git-error.txt
  scripts/docker-entrypoint.sh
  scripts/healthcheck.sh
  scripts/init.sql
  scripts/run_api_tests.py
  scripts/run_auth_migration.py
  src/graphrag_api_service/database/migrations/auth_migration.py
  src/graphrag_api_service/database/sqlite_models.py
  src/graphrag_api_service/middleware/rate_limiting.py
  src/graphrag_api_service/middleware/security_headers.py
  src/graphrag_api_service/repositories/user_repository.py
  src/graphrag_api_service/routes/auth.py
  src/graphrag_api_service/utils/security.py
  tests/README.md
  tests/conftest.py
  tests/postman/environment.json
  tests/postman/graphql_collection.json
  tests/postman/graphrag_api_collection.json
  tests/test_auth_integration.py
  tests/test_auth_system.py
  tests/unit/test_config.py
  workspaces/workspaces.json
Due: black-local, ruff-local, mypy-local, validate-openapi

fix: configure pre-commit hooks for Windows PowerShell compatibility
  .claude/settings.local.json
  .pre-commit-config.yaml
  GEMINI.md
  src/graphrag_api_service/middleware/rate_limiting.py
  workspaces/workspaces.json
Due: black-local, ruff-local, mypy-local, validate-openapi

test: verify pre-commit hooks match GitHub Actions
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/run_ci_checks.ps1
  scripts/run_ci_checks.py
  test_commit.txt
Due: black-local, ruff-local, mypy-local

chore: remove test file
  test_commit.txt
Due: none

chore: remove disabled CI/CD workflow file and update workspace configuration
  .github/workflows/ci-cd-full.yml.disabled
  scripts/run_ci_checks.ps1
  scripts/run_ci_checks.py
  tests/unit/test_providers.py
  workspaces/workspaces.json
Due: black-local, ruff-local, mypy-local

test: verify pre-commit hooks
  .pre-commit-config.yaml
  scripts/run_ci_checks.ps1
  scripts/run_ci_checks.py
  src/test_hooks.py
Due: black-local, ruff-local, mypy-local, validate-openapi

chore: remove test file
  src/test_hooks.py
Due: black-local, ruff-local, mypy-local, validate-openapi

feat: add auto-fix functionality to CI check scripts
  CLAUDE.md
  scripts/run_ci_checks.ps1
  scripts/run_ci_checks.py
  src/graphrag_api_service/auth/database_auth.py
  src/graphrag_api_service/database/models.py
  src/graphrag_api_service/dependencies.py
  src/graphrag_api_service/graphql/subscriptions.py
  src/graphrag_api_service/services/auth_service.py
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/integration/test_api_endpoints.py
  tests/integration/test_workspace_cleanup_endpoints.py
  tests/performance/test_optimization.py
  tests/security/test_auth_security.py
  tests/unit/auth/test_master_key.py
  tests/unit/test_graph.py
  tests/unit/test_indexing.py
  tests/unit/test_system.py
  tests/unit/test_workspace_lifecycle.py
  workspaces/workspaces.json
Due: black-local, ruff-local, mypy-local, validate-openapi

feat: add markdown formatting checks to CI scripts
  .pre-commit-config.yaml
  CLAUDE.md
  docs/AUTHENTICATION_QUICKSTART.md
  docs/CONFIGURATION.md
  docs/DEPLOYMENT_GUIDE.md
  docs/MIGRATION_GUIDE.md
  docs/authentication_api.md
  docs/authentication_setup_guide.md
  docs/authentication_troubleshooting.md
  docs/reports/GRAPHQL_REFACTORING_REPORT.md
  docs/reports/MIDDLEWARE_REFACTORING_REPORT.md
  docs/reports/PERFORMANCE_REFACTORING_REPORT.md
  docs/reports/QA_REPORT_AUTH.md
  docs/reports/REFACTORING_REPORT_AUTH.md
  docs/reports/REFACTORING_REPORT_COMPLETE.md
  scripts/run_ci_checks.ps1
  scripts/run_ci_checks.py
  src/graphrag_api_service/auth/README.md
  src/graphrag_api_service/caching/README.md
  src/graphrag_api_service/database/README.md
  src/graphrag_api_service/graph/README.md
  src/graphrag_api_service/performance/README.md
  src/graphrag_api_service/system/README.md
  src/graphrag_api_service/workspace/README.md
  tests/README.md
Due: black-local, ruff-local, mypy-local

fix: add email-validator dependency for Pydantic email validation
  poetry.lock
  pyproject.toml
Due: validate-openapi

fix: correct default port to 8001 to match test expectations
  src/graphrag_api_service/config.py
Due: black-local, ruff-local, mypy-local, validate-openapi

feat: add enterprise-grade security scanning suite
  .github/workflows/security.yml
  scripts/run_ci_checks.py
  scripts/run_security_scan.py
Due: black-local, ruff-local, mypy-local

feat: implement comprehensive authentication system with JWT, security middleware, and full test coverage
  .github/SECURITY_POLICIES.md
  .github/pull_request_template.md
  .github/workflows/security-best-practices.yml
  .gitignore
  .gitleaksignore
  .pre-commit-config.yaml
  SECURITY_EXCEPTIONS.md
  docs/SECURITY_WORKFLOW.md
  git-error.txt
  poetry.lock
  pyproject.toml
  scripts/__pycache__/run_security_scan.cpython-312.pyc
  scripts/run_security_scan.py
  scripts/security-check.ps1
  scripts/test_security_workflow.py
  src/graphrag_api_service/auth/api_keys.py
  src/graphrag_api_service/auth/database_auth.py
  src/graphrag_api_service/auth/jwt_auth.py
  src/graphrag_api_service/auth/rate_limiting.py
  src/graphrag_api_service/auth/unified_auth.py
  src/graphrag_api_service/caching/redis_cache.py
  src/graphrag_api_service/config.py
  src/graphrag_api_service/database/sqlite_models.py
  src/graphrag_api_service/graphql/mutations.py
  src/graphrag_api_service/graphrag_integration.py
  src/graphrag_api_service/main.py
  src/graphrag_api_service/middleware/csrf_protection.py
  src/graphrag_api_service/middleware/rate_limiter.py
  src/graphrag_api_service/middleware/rate_limiting.py
  src/graphrag_api_service/middleware/security_headers.py
  src/graphrag_api_service/performance/cache_manager.py
  src/graphrag_api_service/performance/connection_pool.py
  src/graphrag_api_service/performance/load_testing.py
  src/graphrag_api_service/routes/auth.py
  workspaces/workspaces.json
Due: black-local, ruff-local, mypy-local, validate-openapi

fix: resolve MyPy type error in CSRF protection middleware and disable timeout-prone security check
  .pre-commit-config.yaml
  src/graphrag_api_service/middleware/csrf_protection.py
Due: black-local, ruff-local, mypy-local, validate-openapi

fix: remove Unicode emojis from security workflow to fix Windows encoding issues
  scripts/test_security_workflow.py
Due: black-local, ruff-local, mypy-local

refactor: simplify CI/CD and pre-commit hooks for smoother development
  .github/workflows/ci-cd.yml
  .github/workflows/security-best-practices.yml
  .github/workflows/security.yml
  .pre-commit-config.yaml
Due: none

fix: add required environment variables for CI/CD tests
  .github/workflows/ci-cd.yml
Due: none

fix: use longer JWT_SECRET_KEY to meet minimum length requirement
  .github/workflows/ci-cd.yml
Due: none

feat: add Docker image build and publish to GitHub Container Registry
  .github/SECURITY_POLICIES.md
  .github/workflows/ci-cd.yml
  Dockerfile
  SECURITY_EXCEPTIONS.md
  docs/SECURITY_WORKFLOW.md
Due: none

feat: improve Docker build strategy with proper versioning
  .github/workflows/ci-cd.yml
  Dockerfile
  scripts/create-release.ps1
Due: none

feat: implement calendar-based versioning and comprehensive Docker ENV configuration
  .github/workflows/ci-cd.yml
  Dockerfile
  scripts/create-release.ps1
Due: none

feat: add automated GitHub Release creation workflow
  .github/workflows/release.yml
  RELEASE_TEMPLATE.md
Due: none
